@font-face {
    font-family: "Noah Medium";
    src: url("/static/fonts/Noah-Medium.ttf");}

@font-face {
    font-family: "Noah ExtraBold";
    src: url("/static/fonts/Noah-Medium.ttf");}

@font-face {
    font-family: "Noah Regular";
    src: url("/static/fonts/Noah-Regular.ttf");}
